<div class="page-header">
  <h1>
    Permits
    <a href="/permits/new" class="btn btn-lg btn-success">New Permit</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Movie</th>
        <th>Location</th>
        <th>Booked time</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @permits.each do |permit| %>
      <tr>
        <td><%= permit.movie_id %></td>
        <td><%= permit.location_id %></td>
        <td><%= permit.booked_time %></td>
        <td><%= permit.user_id %></td>
        <td>
          <a href="/permits/<%= permit.id %>" class="btn btn-primary">Show</a>
          <a href="/permits/<%= permit.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_permit/<%= permit.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
