<div class="page-header">
  <h3>Permit for <%= @permit.movie.title %> at <%= @permit.location.location_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Movie</dt>
      <dd><%= @permit.movie.title %></dd>

      <dt>Location</dt>
      <dd><%= @permit.location.location_name %></dd>

      <dt>Start time</dt>
      <dd><%= @permit.booked_time %></dd>

      <dt>End time</dt>
      <dd><%= @permit.booked_end %></dd>

      <dt>Applied for by</dt>
      <dd><%= @permit.user.first_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/permits" class="btn btn-primary">
        Back
      </a>
      <!-- <a href="/permits/<%= @permit.id %>/edit" class="btn btn-warning">
        Edit
      </a> -->
      <a href="/delete_permit/<%= @permit.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
