<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location name</dt>
      <dd><%= @location.location_name %></dd>

      <dt>Location size</dt>
      <dd><%= @location.location_size %></dd>

      <dt>Location private</dt>
      <dd><%= @location.location_private %></dd>

      <dt>Location explosions</dt>
      <dd><%= @location.location_explosions %></dd>

      <dt>Location address</dt>
      <dd><%= @location.location_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
